.map-sidebar {
  position: fixed;
  width: 300px;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 200;
  overflow-y: auto;
}

.map-sidebar-add {
  position: fixed;
  width: 300px;
  bottom: 0;
  right: 0;
  z-index: 10;
  border-radius: 0;
}

.cancel-btn {
  position: fixed;
  width: 150px;
  bottom: 0;
  right: 150px;
  z-index: 300;
  border-radius: 0;
  border-left: 0;
}

kendo-tabstrip {
  margin-bottom: 30px;
}
