<div class="map-sidebar" *ngIf="!addReport">
  <app-user-menu></app-user-menu>
  <kendo-tabstrip>
    <kendo-tabstrip-tab [title]="'Recent Issues'" [selected]="true">
      <ng-template kendoTabContent>
                <app-issue-list-item [issue]="issue" *ngFor="let issue of recentIssues | async"></app-issue-list-item>

      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'Top Issues'">
      <ng-template kendoTabContent>

                <app-issue-list-item [issue]="issue" *ngFor="let issue of topIssues | async"></app-issue-list-item>

      </ng-template>
    </kendo-tabstrip-tab>

    <kendo-tabstrip-tab [title]="'My Issues'">
      <ng-template kendoTabContent>

                <app-issue-list-item [issue]="issue" [showOwnerActions]="true" *ngFor="let issue of myIssues | async"></app-issue-list-item>

      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>

  <!-- Add Report -->
  <button kendoButton class="map-sidebar-add" (click)="openDialog()" [icon]="'plus'" primary="true"> Report an issue</button>
</div>

<div *ngIf="addReport">
  <app-issue-form></app-issue-form>
  <button kendoButton class="cancel-btn" (click)="closeDialog()">Cancel</button>
</div>
