<div class="map-sidebar" *ngIf="!addReport">

  <kendo-tabstrip>
    <kendo-tabstrip-tab [title]="'Recent Issues'" [selected]="true">
      <ng-template kendoTabContent>
        <kendo-panelbar>
            <kendo-panelbar-item [title]="'Issues'" expanded="true">
                <ng-template kendoPanelBarContent>
                    <div>
                        <div *ngFor="let issue of recentIssues | async">
                            <!--<img [src]="imageUrl('andrew')" alt="Andrew Fuller">-->
                            <span class="mate-info">
                              <h2>{{ (issue)?.title }}</h2>
                              <p>{{ (issue)?.description }}</p>
                            </span>
                            <button kendoButton [icon]="'plus'"></button>
                        </div>
                    </div>
                </ng-template>
            </kendo-panelbar-item>
        </kendo-panelbar>
      </ng-template>
    </kendo-tabstrip-tab>
    <kendo-tabstrip-tab [title]="'Top Issues'">
      <ng-template kendoTabContent>
        <kendo-panelbar>
            <kendo-panelbar-item [title]="'Issues'" expanded="true">
                <ng-template kendoPanelBarContent>
                    <div>
                        <div *ngFor="let issue of topIssues | async">
                            <!--<img [src]="imageUrl('andrew')" alt="Andrew Fuller">-->
                            <span class="mate-info">
                              <h2>{{ (issue)?.title }}</h2>
                              <p>{{ (issue)?.description }}</p>
                            </span>
                            <button kendoButton [icon]="'plus'"></button>
                        </div>
                    </div>
                </ng-template>
            </kendo-panelbar-item>
        </kendo-panelbar>
      </ng-template>
    </kendo-tabstrip-tab>
  </kendo-tabstrip>

  <!-- Add Report -->
  <button kendoButton class="map-sidebar-add" (click)="openDialog()" [icon]="'plus'"> Report</button>
</div>

<div *ngIf="addReport">
  <app-issue-form></app-issue-form>
  <button kendoButton class="close-btn" (click)="closeDialog()"><span class="k-icon k-i-close"></span></button>
</div>

