<h1>
  {{title}}
</h1>

<ul>
  <!--<li *ngFor="let issue of issuesLocationQuery.issues | async">-->
  <li *ngFor="let issue of topIssues | async">
    {{ (issue)?.title }} - {{ (issue)?.likes }}
  </li>
</ul>

<input type="file" name="" value="" (change)="selectFile($event)">

<button kendoButton (click)="onButtonClick()" [primary]="true">Kendo Button</button>
<button kendoButton (click)="login()" [primary]="true">Login</button>
<button kendoButton (click)="logout()">Logout</button>

<div>
  Logged in as {{ (user | async)?.displayName }}
</div>

<nav>
  <h1>Test Router</h1>
<a routerLink="/map">Map</a>
<a routerLink="/stats">Stats</a>
</nav>

<router-outlet></router-outlet>
<!--<app-issue-form></app-issue-form>

<app-map-view></app-map-view>-->
