<div class="issue-form">
  <app-user-menu></app-user-menu>
  <form action="#" class="k-form">
    <fieldset>
      <legend>Description</legend>
      <!-- Title -->
      <label for="issue-title" class="k-form-field">
          <span>Title</span>
          <input id="issue-title" type="text" class="k-textbox" [(ngModel)]="issue.title" name="title" required>
      </label>

      <!-- Description -->
      <label for="issue-description" class="k-form-field">
          <span>Description</span>
          <textarea id="issue-description" class="k-textarea" [(ngModel)]="issue.description" name="description" required>{{ description }}</textarea>
      </label>

      <!-- Photos -->
      <label for="issue-photo" class="k-form-field">
          <span>Photo</span>
          <input #fileInput type="file" class="hidden-file-input" (change)="onSelectFile($event)" accept="image/*" multiple="true">
          <button kendoButton (click)="openFileSelection()" primary="true" [disabled]="loadingImages">Select photo</button>
          <p *ngFor="let photo of photos; let i = index">
            <button class="issue-item-button" kendoButton (click)="removePhoto(i)" [icon]="'delete'"></button> {{ photo.name }}
          </p>
      </label>
    </fieldset>

    <fieldset>
      <legend>Location</legend>
      <!-- City -->
      <label for="issue-city" class="k-form-field">
          <span>City</span>
          <input id="issue-city" type="text" class="k-textbox" [value]="issue.city" readonly>
      </label>

      <!-- State -->
      <label for="issue-state" class="k-form-field">
          <span>State</span>
          <input id="issue-state" type="text" class="k-textbox" [value]="issue.state" readonly>
      </label>

      <!-- Country -->
      <label for="issue-country" class="k-form-field">
          <span>Country</span>
          <input id="issue-country" type="text" class="k-textbox" [value]="issue.country" readonly>
      </label>

      <!-- Latitude -->
      <label for="issue-latitude" class="k-form-field">
          <span>Latitude</span>
          <input id="issue-latitude" type="text" class="k-textbox" [value]="issue.lat" readonly>
      </label>

      <!-- Longitude -->
      <label for="issue-longitude" class="k-form-field">
          <span>Longitude</span>
          <input id="issue-longitude" type="text" class="k-textbox" [value]="issue.long" readonly>
      </label>

      <span *ngIf="error" class="error"> <pre> {{ error }} </pre> </span>

    </fieldset>

    <button #submitButton kendoButton class="confirm-btn" (click)="submitForm()" primary="true">Confirm</button>
  </form>
</div>

<kendo-dialog *ngIf="added" (close)="closeDialog()">
  <p>Success! Thanks for contributing.</p>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDialog()" primary="true">Ok</button>
  </kendo-dialog-actions>
</kendo-dialog>
