<form action="#" class="k-form">
  <fieldset>
    <legend>Description</legend>
    <!-- Title -->
    <label for="issue-title" class="k-form-field">
        <span>Title</span>
        <input id="issue-title" type="text" class="k-textbox">
    </label>

    <app-map-marker></app-map-marker>

    <!-- Description -->
    <label for="issue-description" class="k-form-field">
        <span>Description</span>
        <textarea id="issue-description" class="k-textarea"></textarea>
    </label>

    <!-- Photos -->
    <label for="issue-photo" class="k-form-field">
        <span>Photo</span>
        <kendo-upload id="issue-photo"></kendo-upload>
    </label>
  </fieldset>

  <fieldset>
    <legend>Localization</legend>
    <!-- City -->
    <label for="issue-city" class="k-form-field">
        <span>City</span>
        <input id="issue-city" type="text" class="k-textbox" readonly>
    </label>

    <!-- State -->
    <label for="issue-state" class="k-form-field">
        <span>State</span>
        <input id="issue-state" type="text" class="k-textbox" readonly>
    </label>

    <!-- Country -->
    <label for="issue-country" class="k-form-field">
        <span>Country</span>
        <input id="issue-country" type="text" class="k-textbox" readonly>
    </label>

    <!-- Latitude -->
    <label for="issue-latitude" class="k-form-field">
        <span>Latitude</span>
        <input id="issue-latitude" type="text" class="k-textbox" value="0.0" readonly>
    </label>

    <!-- Longitude -->
    <label for="issue-longitude" class="k-form-field">
        <span>Longitude</span>
        <input id="issue-longitude" type="text" class="k-textbox" value="0.0" readonly>
    </label>
  </fieldset>

  <button kendoButton [icon]="plus" (click)="submitForm()">Add issue</button>
</form>
