nav * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.grid {
  margin: 0 auto;
  padding: .75rem 1rem;
}
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

div:nth-child(2) {
  width: calc(100% - 100px);
  padding: 0 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

div:nth-child(3) {
  width: 50px;
  height: 100%;
}

div:nth-child(3) button {
  background-color: #0275d8;
  border: 0;
  color: #fff;
}

.menu,
.k-button {
  height: 100%;
}

img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav {
  padding: 5px;
  background-color: #0275d8;
}

.title {
  display: block;
  max-width: 200px;
  margin: 8px 0;
  color: #fff;
}

.login {
  text-align: center;
}

.login button {
  width: 100%;
  height: 100%;
}

.logout {
  .k-icon {
    font-size: 32px;
  }
}
