
.marker {
  cursor: pointer;
}

.marker-popup {
  position: absolute;
  left: 0;

  min-width: 200px;

  img {
    max-width: 200px;
  }

  &.open {
    position: inherit;
    left: inherit;
  }

}

button {
  width: 100%;
}
