<div #markerEl class="marker" (click)="click()">
  <span class="k-icon k-i-marker-pin"></span>
</div>

<div #markerPopupEl class="marker-popup" [ngClass]="{open: true}">
  <p>
    <img [src]="(issue | async)?.photos[0]" *ngIf="(issue | async)?.photos && (issue | async)?.photos.length>0" alt="">
  </p>
  <h1>{{ (issue | async)?.title }}</h1>
  <h4>{{ (issue | async)?.description }}</h4>
  <p>Created by {{ (author | async)?.displayName }} on {{ (issue | async)?.date_created | date:'fullDate' }}</p>
  <p>Upvotes: {{ likes | async }}</p>
  <!--<p>Created: {{ (issue | async)?.date_created | date:'fullDate' }}</p>-->

  <p>
    Solved:
    <span *ngIf="(issue | async)?.solved">Yes! 😍</span>
    <span *ngIf="!(issue | async)?.solved && !(owned | async)">No 😡</span>
    <button kendoButton *ngIf="!(issue | async)?.solved && (owned | async)" (click)="solve()" [primary]="true">Mark as solved!</button>
  </p>

  <p>
    <button kendoButton (click)="like()" [primary]="true" *ngIf="!(hasLiked | async)">Upvote!</button>
  </p>
  <p>
    <button kendoButton (click)="close()" [primary]="true">Close</button>
  </p>

</div>
