<div #markerEl class="marker">

  <i class="fa fa-map-marker fa-4x"></i>
  <!--<button class="add-marker" class="btn btn-default on-map" [class.btn-primary]="editing"
          title="Show place name by clicking on the map" (click)="toggleEditing()" btnCheckbox>
  </button>-->

</div>

<div #markerPopupEl class="marker-popup">

  <p>
    <img [src]="issue.photos[0]" alt="">
  </p>
  <p>Title: {{ issue.title }}</p>
  <p>Description: {{ issue.description }}</p>
  <p>Author: {{ (author | async)?.displayName }}</p>
  <p>Likes: {{ likes | async }}</p>
  <p>Created: {{ issue.date_created }}</p>

  <p>
    Solved:
    <span *ngIf="issue.solved">Yes! 😍</span>
    <span *ngIf="!issue.solved && !owned()">No 😡</span>
    <button kendoButton *ngIf="!issue.solved && owned()" (click)="solve()" [primary]="true">Mark as solved!</button>
  </p>

  <p>
    <button kendoButton (click)="like()" [primary]="true" *ngIf="!(hasLiked | async)">Upvote!</button>
  </p>

</div>
