<div class="issue-item">
  <!-- <img [src]="imageUrl('andrew')" alt="Andrew Fuller"> -->
  <span class="issue-item-count">{{ (likes | async) }}</span>
  <div class="issue-item-description">
    <a [routerLink]="['/map', issue?.iid]">
      <h2>{{ (issue)?.title }}</h2>
    </a>
    <p>{{ (issue)?.description }}</p>
  </div>
  <button class="issue-item-button" kendoButton (click)="toggleLike()" [selected]="(hasLiked | async)" [icon]="'arrow-up'" title="Vote up!"></button>
  <button class="issue-item-button" kendoButton (click)="toggleSolve()" [selected]="issue?.solved" *ngIf="showOwnerActions && (owned | async)" [icon]="'check-outline'" title="Mark as solved"></button>
  <button class="issue-item-button" kendoButton (click)="delete()" *ngIf="showOwnerActions && (owned | async)" [icon]="'trash'" title="Delete issue"></button>
</div>
